# Host SSH credentials (Ubuntu 22 host)
HOST=
PORT=22
USERNAME=root
PASSWORD=

# MikroTik CHR Config
MIKROTIK_VERSION=7.8
MIKROTIK_PASSWORD=12345678
MIKROTIK_DNS=8.8.8.8,1.1.1.1
MIKROTIK_EXTRA_CONFIGS=

# MikroTik License Account
MIKROTIK_ACCOUNT=
MIKROTIK_ACCOUNT_PASSWORD=